<form class="form-horizontal" method="POST" action="/users/register " name="signupform" enctype="multipart/form-data">
  <fieldset>
    <div id="legend">
      <legend class="">Register</legend>
    </div>


 
  <% if(errors)
      { errors.forEach(function(error) { %>
        <div class="alert alert-danger"><%= error.msg %></div>
    <% }); 
     } %>

  <% if(error) 
     {%> 
         <div class="alert alert-danger"><%= error. message %></div>
     <%};
     %>
 
      

 


    <div class="control-group">
      <!-- Username -->
      <label class="control-label"  for="username">Username</label>
      <div class="controls">
        <input type="text" id="username" name="username" class="input-xlarge" required>
        <p class="help-block">Username can contain any letters or numbers, without spaces</p>
      </div>
    </div>

     <div class="control-group">
      <!-- Name-->
      <label class="control-label" for="name">Name</label>
      <div class="controls">
        <input type="text" id="name" name="name"  class="input-xlarge" required>

      </div>
    </div>

    <div class="control-group">
      <!-- Date of Birth-->
      <label class="control-label" for="dateofbirth">Date Of Birth</label>
      <div class="controls">
        <input type="date" id="dateofbirth" name="dateofbirth" class="input-xlarge" required>

      </div>
    </div>

    <div class="control-group">
      <!-- E-mail -->
      <label class="control-label" for="email">E-mail</label>
      <div class="controls">
        <input type="text" id="email" name="email" class="input-xlarge" required>
        <p class="help-block">Please provide your E-mail</p>
      </div>
    </div>

    <div class="control-group">
      <!-- Password-->
      <label class="control-label" for="password">Password</label>
      <div class="controls">
        <input type="password" id="password" name="password" class="input-xlarge" required>
        <p class="help-block">Password should be at least 4 characters</p>
      </div>
    </div>

    <div class="control-group">
      <!-- Password -->
      <label class="control-label"  for="password_confirm">Password (Confirm)</label>
      <div class="controls">
        <input type="password" id="password_confirm" name="password_confirm" class="input-xlarge" required>
        <p class="help-block">Please confirm password</p>
      </div>
    </div>

    <div class="control-group">
      <!-- Faculty-->
      <label class="control-label" for="faculty">Faculty</label>
      <div class="controls">
        <input type="text" id="faculty" name="faculty" class="input-xlarge" required>

      </div>
    </div>


<div class="control-group">
    <label for="profileimg" class="">Profile picture</label>
     <div class="controls">
        <input type="file" accepted="image/*"  id="profileimg" name="profileimg" class="form-control" 
        placeholder=".jpg/ .png/...." class="input-xlarge" required>
        </div>
    </div>


    <div class="control-group">
      <!-- Button -->
      <div class="controls">
        <button class="btn btn-success" >Register</button>
      </div>
    </div>

    


  </fieldset>
</form>
